!!!
%html{lang: "fr"}
  %head
    %meta{charset: "utf-8"}/
    %title Connexion
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{content: "charset", name: "description"}/
    %meta{content: "Line Corp.", name: "author"}/
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    %link{rel:"icon", href:"favicon.ico", type:"image/x-icon"}/
    %link{href: "css/bootstrap.min.css", rel: "stylesheet"}/
    %link{href: "css/bootstrap-theme.min.css", rel: "stylesheet"}/
    %link{href: "css/font-awesome.min.css", rel: "stylesheet"}/
    %link{href: "css/animate.css", rel: "stylesheet"}/
    %link{href: "css/default.css", rel: "stylesheet"}/

  %body
    :javascript
      validate = function() {
        var i, pw, pwArray, un, unArray, valid;
        pw = document.myform.pword.value;
        valid = false;
        pwArray = ["A56","A40","A89","A37","A83","A92","A54","A29","A90","A26","A43","A68","A19","A82","A24","A67","A86","A41","A17","A34","A11","A55","A96","A38","A57","A74","A18","A88","A64","A63","A16","A77","A69","A58","A61","A44","A53","A78","A10","A13"];
        i = 0;
        while (i < pwArray.length) {
          if ((pw === pwArray[i])) {
            valid = true;
            break;
          }
          i++;
        }
        if (valid) {
          $(".form.content").addClass("animated flipOutX");
          $("body").scrollTop(0);
          $(".content.section").css({"opacity": 1});
        }
        return false;
      };
    .content.form.full.loading

      %form.secret{name: "myform"}
        %h3.logo
        %h3
          -# %p CAPRICES D'AILLEURS
          %span.font-cn 私人定制
        %p.input-password
          %span 会员号
          %input{type: "text", name: "pword"}
          %input{type: "button", value: "Go", name: "Submit", onclick: "validate()"}

      %footer
        %span.copyright
          %i.fa.fa-copyright
          Caprices d'ailleurs 2015. All rights reserved.

    .content.section
      %section.preview-1
        .download
          %a{href: "files/Belle-epoque-HD-final.pdf", target: "_blank"}
            -# %p.date 02/10 | 02/16
            -# %p 美好年代的恋人
            -# %br
            %p 下载PDF
            -# %p.x-download Download
      %section.preview-2
      %section.preview-4
      %section.preview-5
      %section.preview-6
      %section.preview-7
      %section.preview-8
      %section.preview-9
      %section.preview-10
      %section.preview-11
      %section.preview-12
      %section.preview-13
      %section.preview-14
      %section.preview-15

    / Placed at the end of the document so the pages load faster
    %script{src: "js/jquery-2.1.1.min.js"}
    %script{src: "js/bootstrap.min.js"}
    %script{src: "js/waypoints.min.js"}
    %script{src: "js/app.js"}
